*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;

    
        /* color */

        --Color-jaune: #f7c548;
}

@font-face {
    font-family: "Ma_Police";
    src: url("./eval1.otf");
}

body{
    font-family: "Ma_Police";

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}


#Logo{
    width: 250px;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    
    background-color: black;
    color: var(--Color-jaune);

    width: 30%;
    height: 160vh;
    padding: 20px;


}

#button-aside{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
    

    height: 50vh;
    margin-top: 80px;
  
    
    
}

#button-aside a{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--Color-jaune);
    width: 15vw;
    
    
}

#button-aside a:hover{
    border-radius: 10px;
    box-shadow: var(--Color-jaune)3px 3px 8px 0;
    transition: 1000ms;
    background-color: rgb(45, 42, 42);


}
#Relou{
    text-align: center;
    font-size: 1.5rem;
    
    font-family: "Ma_Police";
    text-shadow: 2px 3px var(--Color-jaune);
}



header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    height: 20vh;
    width: 100% ;

}

h1{
    font-family: "Ma_Police", sans-serif;
    color: var(--Color-jaune);
    text-shadow: 2px 3px var(--Color-jaune);
}




main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

article{
    padding: 10px;
    width: 90%;
    box-shadow: black 3px 3px 8px 0;

}

#Image1{
    width: 38%;
    padding-left: 50px;
    padding-top: 60px;
}

#Image2{
    width: 38%;
    padding-right: 50px;
    padding-top: 60px;
}

#Article_1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    margin: 3%;

}

#Article_2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    margin: 3%;

}